JAVA_OPTS="-Djenkins.install.runSetupWizard=false"
#JENKINS_OPTS=--prefix=/
CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins.yaml

JENKINS_EXTERNAL_URL="example.com"
JENKINS_ADMIN_MAIL="example@example.com"

JENKINS_AGENT_NAME=jenkins-agent-name
JENKINS_AGENT_LABEL=jenkins-agent-label
JENKINS_AGENT_WORKSPACE=/jenkins/home/
JENKINS_AGENT_SECRET=jenkins-agent-secret

JENKINS_ADMIN_USERNAME=admin
JENKINS_ADMIN_PASSWORD=admin

JENKINS_AGENT_USERNAME=agent
JENKINS_AGENT_PASSWORD=agent
